.main__menu{
    background-color: #F4B393;
    height: 900px;
    h2{
        font-family: nos;
        text-align: center;
        padding-top: 20px;
    }
}


table{
    height: 100%;
    font-family: nos;
    cursor: pointer;
    td{
        text-align: center;
    }
    thead{
        line-height: 40px;
    }
}



